@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --primary-color: lightcoral;
  --secondary-color: DimGrey;
  --tertiary-color: Gainsboro;
}

body {
  background-color: var(--tertiary-color);
  font-size: 15px;
  font-family: lato, sans-serif;
}

#container {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 5px 5px 5px 5px gray;
  border-radius: 20px;
}

.title {
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  cursor: pointer;
}

.tipsForm {
  padding-left: 20px;
  padding-right: 20px;
}

.formInput {
  background-color: white;
  width: 40px;
  padding: 5px 5px 8px 8px;
}

.formInput:focus {
  border: 3px solid var(--primary-color);
  outline: none;
}

.formSelect {
  width: 180px;
  padding: 5px;
  font-size: 12px;
}

.formSubmit {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background-color: var(--secondary-color);
  border-radius: 5px;
  width: 200px;
  height: 45px;
  color: white;
  font-size: 17px;
  border: 1px solid var(--tertiary-color);
  cursor: pointer;
}
.formSubmit:hover {
  background-color: var(--primary-color);
}

#totalTip {
  font-size: 20px;
  margin-top: 5px;
  text-align: center;
}
